@use '@fontsource-variable/inter';

@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-family: 'Inter Variable', Roboto, sans-serif;
    font-weight: 500;
    font-variation-settings:
        'wdth' 75,
        'wght' 500;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    height: 100dvh;

    #app {
        height: 100dvh;
        display: flex;
        flex-direction: column;
    }
}

html {
    font-size: 14px;
    min-height: 100%;
}

// Global primevue settings
body {
    --p-togglebutton-padding: 0.5em;
}

.p-tab {
    font-family: 'Inter Variable' !important;
    font-weight: 600;
}

// Sorted datatable columns should not appear highlighted
.p-datatable-column-sorted {
    background: var(--p-datatable-header-cell-background);
    color: var(--p-datatable-header-cell-color);

    &:hover {
        background: var(--p-datatable-header-cell-hover-background);
        color: var(--p-datatable-header-cell-hover-color);
    }
}
